._1 {
    position: relative;
    top: 95px;
    left: 78px;
    width: 120px;
    height: 100px;
    background: white;
}

._2 {
    position: relative;
    top: 215px;
    left: 65px;
    width: 130px;
    height: 110px;
    background: whitesmoke;
}

._3 {
    position: relative;
    top: 95px;
    left: 205px;
    width: 130px;
    height: 110px;
    background: red;
}

._4 {
    position: relative;
    top: 215px;
    left: 215px;
    width: 130px;
    height: 110px;
    background: red;
}

._5 {
    position: relative;
    top: 50px;
    left: 30px;
    width: 100px;
    height: 50px;
    background: red;
}

._6 {
    position: relative;
    top: 108px;
    left: 30px;
    width: 100px;
    height: 50px;
    background: red;
}

._7 {
    position: relative;
    top: 162px;
    left: 30px;
    width: 100px;
    height: 50px;
    background: red;
}

._8 {
    position: relative;
    top: 215px;
    left: 30px;
    width: 100px;
    height: 50px;
    background: red;
}

._9 {
    position: relative;
    top: 268px;
    left: 33px;
    width: 100px;
    height: 50px;
    background: red;
}

._10 {
    position: relative;
    top: 0px;
    left: 133px;
    width: 180px;
    height: 40px;
    background: red;
}

._11 {
    position: relative;
    top: 50px;
    left: 133px;
    width: 180px;
    height: 50px;
    background: red;
}

._12 {
    position: relative;
    top: 110px;
    left: 133px;
    width: 180px;
    height: 50px;
    background: red;
}

._13 {
    position: relative;
    top: 160px;
    left: 133px;
    width: 180px;
    height: 50px;
    background: red;
}

._14 {
    position: relative;
    top: 215px;
    left: 133px;
    width: 175px;
    height: 50px;
    background: red;
}

._15 {
    position: relative;
    top: 272px;
    left: 133px;
    width: 175px;
    height: 45px;
    background: red;
}

._16 {
    position: relative;
    top: 5px;
    left: 165px;
    width: 110px;
    height: 60px;
    background: red;
}

._17 {
    position: relative;
    top: 70px;
    left: 165px;
    width: 110px;
    height: 75px;
    background: red;
}

._18 {
    position: relative;
    top: 145px;
    left: 165px;
    width: 110px;
    height: 75px;
    background: red;
}

._19 {
    position: relative;
    top: 222px;
    left: 165px;
    width: 110px;
    height: 75px;
    background: red;
}

._20 {
    position: relative;
    top: 300px;
    left: 165px;
    width: 110px;
    height: 75px;
    background: red;
}

._21 {
    position: relative;
    top: 380px;
    left: 165px;
    width: 110px;
    height: 20px;
    background: red;
}

._22 {
    position: relative;
    top: 30px;
    left: 5px;
    width: 180px;
    height: 50px;
    background: red;
}

._23 {
    position: relative;
    top: 85px;
    left: 5px;
    width: 180px;
    height: 50px;
    background: red;
}

._24 {
    position: relative;
    top: 136px;
    left: 5px;
    width: 180px;
    height: 50px;
    background: red;
}

._25 {
    position: relative;
    top: 190px;
    left: 5px;
    width: 180px;
    height: 52px;
    background: red;
}

._26 {
    position: relative;
    top: 245px;
    left: 5px;
    width: 180px;
    height: 52px;
    background: red;
}

._27 {
    position: relative;
    top: 300px;
    left: 5px;
    width: 180px;
    height: 52px;
    background: red;
}

._28 {
    position: relative;
    top: 30px;
    left: 190px;
    width: 130px;
    height: 52px;
    background: red;
}

._29 {
    position: relative;
    top: 85px;
    left: 190px;
    width: 130px;
    height: 52px;
    background: red;
}

._30 {
    position: relative;
    top: 136px;
    left: 190px;
    width: 130px;
    height: 52px;
    background: red;
}

._31 {
    position: relative;
    top: 190px;
    left: 190px;
    width: 130px;
    height: 52px;
    background: red;
}

._32 {
    position: relative;
    top: 245px;
    left: 190px;
    width: 125px;
    height: 52px;
    background: red;
}

._33 {
    position: relative;
    top: 300px;
    left: 190px;
    width: 125px;
    height: 52px;
    background: red;
}

._34 {
    position: relative;
    top: 35px;
    left: 22px;
    width: 180px;
    height: 140px;
    background: red;
}

._35 {
    position: relative;
    top: 182px;
    left: 20px;
    width: 185px;
    height: 120px;
    background: red;
}

._36 {
    position: relative;
    top: 50px;
    left: 210px;
    width: 165px;
    height: 130px;
    background: red;
}

._37 {
    position: relative;
    top: 195px;
    left: 210px;
    width: 175px;
    height: 110px;
    background: red;
}

._38 {
    position: relative;
    top: 20px;
    left: 55px;
    width: 280px;
    height: 70px;
    background: red;
}

._39 {
    position: relative;
    top: 100px;
    left: 55px;
    width: 280px;
    height: 80px;
    background: red;
}

._40 {
    position: relative;
    top: 190px;
    left: 42px;
    width: 300px;
    height: 90px;
    background: red;
}